body {
  background-color: rgb(0, 0, 0);
  font-family: "IBMPlexMono-Regular";
  color: white;
  overflow-x: hidden;
}

.bg {
  background-color: rgb(0, 0, 0);
  font-family: "IBMPlexMono-Regular";
  color: white;
}

header {
  width: 100%;
  height: 400px;
  text-align: center;
  padding: 2rem;
  padding-top: 30px;
}
header .navbar-brand {
  font-family: "DotGhotic16-Regular";
  display: inline;
  letter-spacing: 1px;
  color: white;
}
header li {
  margin-left: 5px;
  list-style-type: none;
  text-align: justify;
  padding: 1rem;
}
header .nav-item {
  list-style-type: none;
  color: white;
}
header .nav-item a {
  display: inline-block;
  text-align: center;
  margin-inline: auto;
  color: white;
  text-decoration: none;
}
header .nav-item a:hover {
  color: rgb(176, 255, 29);
  text-decoration: none;
}
header nav {
  list-style-type: none;
}
header nav li {
  margin-left: 5px;
  list-style-type: none;
  text-align: justify;
  padding: 1rem;
}
header nav li a {
  display: inline-block;
  text-align: center;
  margin-inline: auto;
  color: white;
  text-decoration: none;
}
header nav li a:hover {
  color: rgb(176, 255, 29);
  text-decoration: none;
}

article {
  width: 75%;
  height: 500px;
  margin-top: 200px;
  margin-left: 5px;
  display: inline-block;
  padding: 3rem;
}
article h1 {
  font-family: "DotGhotic16-Regular";
  display: inline;
  letter-spacing: 1px;
  font-size: 3rem;
}
article p {
  font-size: 2rem;
  display: inline;
  margin-top: 5px;
  margin-left: 5px;
}
article .revelar {
  display: inline-block;
  text-align: justify;
  background-color: white;
}
article .revelar:hover {
  color: white;
  background-color: black;
}

h3 {
  font-family: "DotGhotic16-Regular";
  color: rgb(255, 255, 255);
  font-size: 3rem;
  padding-top: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  gap: 30px;
  row-gap: 80px;
  padding: 50px;
  text-align: justify;
}
.grid-container .decoration {
  font-family: "IBMPlexMono-Regular";
  background-color: white;
  color: black;
  font-size: 1rem;
}
.grid-container .wide {
  grid-column: span 2;
}
.grid-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  text-align: justify;
}
.grid-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  text-align: justify;
}
.grid-container iframe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  text-align: justify;
}
.grid-container .grid-item1:hover {
  transform: scale(1.1, 1.1);
  transition: all 1.5s;
}
.grid-container .grid-item2:hover {
  transform: scale(1.1, 1.1);
  transition: all 1.5s;
}
.grid-container .grid-item3:hover {
  transform: scale(1.1, 1.1);
  transition: all 1.5s;
}
.grid-container .grid-item4:hover {
  transform: scale(1.1, 1.1);
  transition: all 1.5s;
}
.grid-container .grid-item5 iframe {
  visibility: hidden;
}
.grid-container .grid-item5:hover .hidden-element {
  visibility: visible;
}
.grid-container .grid-item6:hover {
  transform: scale(1.1, 1.1);
  transition: all 1.5s;
}
.grid-container .grid-item7:hover {
  transform: scale(1.1, 1.1);
  transition: all 1.5s;
}
.grid-container .grid-item8:hover {
  transform: scale(1.1, 1.1);
  transition: all 1.5s;
}
.grid-container .grid-item9 img {
  visibility: hidden;
}
.grid-container .grid-item9:hover .hidden-element {
  visibility: visible;
}
.grid-container .grid-item10:hover {
  transform: scale(1.1, 1.1);
  transition: all 1.5s;
}
.grid-container .grid-item11 img {
  visibility: hidden;
}
.grid-container .grid-item11:hover .hidden-element {
  visibility: visible;
}
.grid-container .grid-item12:hover {
  transform: scale(1.1, 1.1);
  transition: all 1.5s;
}
.grid-container .grid-item13:hover {
  transform: scale(1.1, 1.1);
  transition: all 1.5s;
}

.carousel-item {
  padding: 40px;
  height: 50rem;
  background-color: black;
}

footer {
  height: auto;
  width: 100%;
  font-family: "IBMPlexMono-Regular";
  padding-top: 350px;
  color: rgb(255, 255, 255);
}
footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
footer .footer-content h1 {
  font-family: "DotGhotic16-Regular";
  display: inline-block;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
footer .footer-content .socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3 rem 0;
}
footer .footer-content .socials a {
  text-decoration: none;
  color: white;
  padding: 2rem;
}
footer .footer-content .socials a:hover {
  color: rgb(176, 255, 29);
}
footer .footer-content .socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
footer .footer-bottom {
  background-color: black;
  height: auto;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
footer .footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
footer .footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "IBMPlexMono-Regular";
  src: url("../fonts/IBMPlexMono-Regular.ttf");
}
@font-face {
  font-family: "DotGhotic16-Regular";
  src: url("../fonts/DotGothic16-Regular.ttf");
}
@media screen and (min-width: 320px) {
  .bg {
    background-color: rgb(0, 0, 0);
  }
  article {
    width: auto;
    height: auto;
    display: inline-block;
    padding: 1rem;
    text-align: left;
    font-size: 1rem;
  }
  article h1 {
    letter-spacing: 1px;
    font-size: 2rem;
  }
  article p {
    font-size: 1rem;
  }
  .grid-container {
    display: block;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 10px;
    row-gap: 10px;
    padding: 1rem;
    width: auto;
    text-align: center;
  }
  .grid-container .grid-item1 img, .grid-container .grid-item1 video, .grid-container .grid-item1 iframe, .grid-container .grid-item2 img, .grid-container .grid-item2 video, .grid-container .grid-item2 iframe, .grid-container .grid-item3 img, .grid-container .grid-item3 video, .grid-container .grid-item3 iframe, .grid-container .grid-item4 img, .grid-container .grid-item4 video, .grid-container .grid-item4 iframe, .grid-container .grid-item5 img, .grid-container .grid-item5 video, .grid-container .grid-item5 iframe, .grid-container .grid-item6 img, .grid-container .grid-item6 video, .grid-container .grid-item6 iframe, .grid-container .grid-item7 img, .grid-container .grid-item7 video, .grid-container .grid-item7 iframe, .grid-container .grid-item8 img, .grid-container .grid-item8 video, .grid-container .grid-item8 iframe, .grid-container .grid-item9 img, .grid-container .grid-item9 video, .grid-container .grid-item9 iframe, .grid-container .grid-item10 img, .grid-container .grid-item10 video, .grid-container .grid-item10 iframe, .grid-container .grid-item11 img, .grid-container .grid-item11 video, .grid-container .grid-item11 iframe, .grid-container .grid-item12 img, .grid-container .grid-item12 video, .grid-container .grid-item12 iframe, .grid-container .grid-item13 img, .grid-container .grid-item13 video, .grid-container .grid-item13 iframe {
    padding-bottom: 30px;
  }
  h3 {
    font-size: 2rem;
    text-align: center;
  }
  .carousel-item {
    padding: 0px;
    height: auto;
    background-color: black;
    width: 100%;
  }
  .footer-content h1 {
    font-family: "DotGhotic16-Regular";
    display: inline-block;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 100;
    text-transform: capitalize;
    line-height: 1rem;
  }
  .footer-content i {
    font-size: 1rem;
    transition: color 0.4s ease;
  }
}
@media screen and (min-width: 600px) {
  .bg {
    background-color: rgb(0, 0, 0);
  }
  article {
    width: auto;
    height: auto;
    display: inline-block;
    padding: 1rem;
    text-align: left;
    font-size: 2rem;
  }
  article h1 {
    letter-spacing: 1px;
    font-size: 2rem;
  }
  article p {
    font-size: 2rem;
  }
  .grid-container {
    display: block;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 10px;
    row-gap: 10px;
    padding: 1rem;
    width: auto;
    text-align: center;
  }
  .grid-container .grid-item1 img, .grid-container .grid-item1 video, .grid-container .grid-item1 iframe, .grid-container .grid-item2 img, .grid-container .grid-item2 video, .grid-container .grid-item2 iframe, .grid-container .grid-item3 img, .grid-container .grid-item3 video, .grid-container .grid-item3 iframe, .grid-container .grid-item4 img, .grid-container .grid-item4 video, .grid-container .grid-item4 iframe, .grid-container .grid-item5 img, .grid-container .grid-item5 video, .grid-container .grid-item5 iframe, .grid-container .grid-item6 img, .grid-container .grid-item6 video, .grid-container .grid-item6 iframe, .grid-container .grid-item7 img, .grid-container .grid-item7 video, .grid-container .grid-item7 iframe, .grid-container .grid-item8 img, .grid-container .grid-item8 video, .grid-container .grid-item8 iframe, .grid-container .grid-item9 img, .grid-container .grid-item9 video, .grid-container .grid-item9 iframe, .grid-container .grid-item10 img, .grid-container .grid-item10 video, .grid-container .grid-item10 iframe, .grid-container .grid-item11 img, .grid-container .grid-item11 video, .grid-container .grid-item11 iframe, .grid-container .grid-item12 img, .grid-container .grid-item12 video, .grid-container .grid-item12 iframe, .grid-container .grid-item13 img, .grid-container .grid-item13 video, .grid-container .grid-item13 iframe {
    padding-bottom: 30px;
  }
  h3 {
    font-size: 2rem;
    text-align: center;
  }
  .carousel-item {
    padding: 0px;
    height: auto;
    width: 100%;
    background-color: black;
  }
  .footer-content h1 {
    font-family: "DotGhotic16-Regular";
    display: inline-block;
    letter-spacing: 1px;
    font-size: 2rem;
    font-weight: 200;
    text-transform: capitalize;
    line-height: 1rem;
  }
  .footer-content i {
    font-size: 2rem;
    transition: color 0.4s ease;
  }
}
@media screen and (min-width: 1024px) {
  .bg {
    background-color: rgb(0, 0, 0);
  }
  article {
    width: auto;
    height: auto;
    display: inline-block;
    padding: 1rem;
    text-align: left;
    font-size: 2rem;
  }
  article h1 {
    letter-spacing: 1px;
    font-size: 2rem;
  }
  article p {
    font-size: 2rem;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    gap: 30px;
    row-gap: 80px;
    padding: 20px;
    text-align: justify;
  }
  .grid-item1 img, .grid-item1 video, .grid-item1 iframe, .grid-item2 img, .grid-item2 video, .grid-item2 iframe, .grid-item3 img, .grid-item3 video, .grid-item3 iframe, .grid-item4 img, .grid-item4 video, .grid-item4 iframe, .grid-item5 img, .grid-item5 video, .grid-item5 iframe, .grid-item6 img, .grid-item6 video, .grid-item6 iframe, .grid-item7 img, .grid-item7 video, .grid-item7 iframe, .grid-item8 img, .grid-item8 video, .grid-item8 iframe, .grid-item9 img, .grid-item9 video, .grid-item9 iframe, .grid-item10 img, .grid-item10 video, .grid-item10 iframe, .grid-item11 img, .grid-item11 video, .grid-item11 iframe, .grid-item12 img, .grid-item12 video, .grid-item12 iframe, .grid-item13 img, .grid-item13 video, .grid-item13 iframe {
    padding-bottom: 30px;
  }
  h3 {
    font-size: 2rem;
    text-align: center;
  }
  .carousel-item {
    padding: 0px;
    height: auto;
    background-color: black;
    width: 100%;
  }
  .footer-content h1 {
    font-family: "DotGhotic16-Regular";
    display: inline-block;
    letter-spacing: 1px;
    font-size: 3rem;
    font-weight: 100;
    text-transform: capitalize;
    line-height: 3rem;
  }
  .footer-content i {
    font-size: 3rem;
    transition: color 0.4s ease;
  }
}

/*# sourceMappingURL=style.css.map */
