/* About me */

article {
    width: 75%;
    height: 500px;
    margin-top: 200px;
    margin-left: 5px;
    display: inline;
    padding: 3rem;

    h2 { 
        font-family: "DotGhotic16-Regular";
        display: inline-block;
        letter-spacing: 1px;
        font-size: 2rem;
    }

    p { 
        font-size: 2rem;
        display: inline;
        margin-top: 5px;
        margin-left: 5px;
    }

    .revelar {
        display: inline;
        text-align: justify;
        background-color: $colorlight;

        &:hover {
            color: $colorlight;
            background-color: $colordark;
        }
    }
}