article {
    width: 75%;
    height: 500px;
    margin-top: 200px;
    margin-left: 5px;
    display: inline-block;
    padding: 3rem;

    h1 { 
        font-family: "DotGhotic16-Regular";
        display: inline;
        letter-spacing: 1px;
        font-size: 3rem;
    }

    p { 
        font-size: 2rem;
        display: inline;
        margin-top: 5px;
        margin-left: 5px;
    }

    .revelar {
        display: inline-block;
        text-align: justify;
        background-color: white;

        &:hover {
            color: white;
            background-color: black;
        }
    }
}