/* Body */

body { 
    background-color: $colordark;
    font-family: "IBMPlexMono-Regular";
    color: $colorlight;
    overflow-x: hidden;
}

.bg { 
    background-color: $colordark;
    font-family: "IBMPlexMono-Regular";
    color: $colorlight;
}
