body { 
    background-color: rgb(0, 0, 0);
    font-family: "IBMPlexMono-Regular";
    color: white;
    overflow-x: hidden;
}

.bg { 
    background-color: rgb(0, 0, 0);
    font-family: "IBMPlexMono-Regular";
    color: white;
}
