/* Contact Form */

.content {

    align-items: center;
    text-align: center;

    .align {
        align-content: center;
    }

    img {
        &:hover {
            transform: scale(1.1, 1.1);
            transition: all 1.5s;
        }
    }

    p {
        font-size: 1.5rem;
        padding: 30px;
    }

    .contact-form {
        padding: 1rem;
        text-align: center;

        form {
            margin: 0;
            padding: 1em;

        }

        input, textarea {
            width: 100%;
            padding: 1.7em;
            border: none;
            background: none;
            outline: none;
            color: $colorlight;
            border-bottom: 1px solid $colorneongreen;
        }

        button {
            padding: 1.7em;
            border: 1px solid $colorneongreen;
            background: none;
            color: $colorlight;
        }
    }

}