/* Footer */

footer {
    height: auto;
    width: 100%;
    font-family: "IBMPlexMono-Regular";
    padding-top: 350px;
    color: $colorlight;

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        h1 { 
            font-family: "DotGhotic16-Regular";
            display: inline-block;
            letter-spacing: 1px;
            font-size: 1.5rem;
            font-weight: 400;
            text-transform: capitalize;
            line-height: 3rem;
        }

        .socials {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem 0 3 rem 0;

            a {
                text-decoration: none;
                color: $colorlight;
                padding: 2rem;
                &:hover {
                    color: $colorneongreen;
                    }

                i{
                    font-size: 1.1rem;
                    transition: color .4s ease;
                    }
            }
        }
     }

     .footer-bottom{
        background-color: $colordark;
        height: auto;
        width: 100%;
        padding: 20px 0;
        text-align: center;

        span{
            text-transform: uppercase;
            opacity: .4;
            font-weight: 200;
        }

        p{
            font-size: 14px;
            word-spacing: 2px;
            text-transform: capitalize;
        }
        }
}