/* Grid */

h3 {
    font-family: "DotGhotic16-Regular";
    color: rgb(255, 255, 255);
    font-size: 3rem;
    padding-top: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    gap: 30px;
    row-gap: 80px;
    padding: 50px;
    text-align: justify;

    .decoration{
        font-family: "IBMPlexMono-Regular";
        background-color: white;
        color: black;
        font-size: 1rem;
    }

    .wide {
        grid-column: span 2;
    }
    
    img {
        object-fit: cover;
        width:100%;
        height:100%;
        text-align: justify;
    }
    
    video {
        object-fit: cover;
        width:100%;
        height:100%;
        text-align: justify;
    }
    
    iframe {
        object-fit: cover;
        width:100%;
        height:100%;
        text-align: justify;
    }

    .grid-item1 {
        &:hover {
            transform: scale(1.1, 1.1);
            transition: all 1.5s;
        }
    }

    .grid-item2 {
        &:hover {
            transform: scale(1.1, 1.1);
            transition: all 1.5s;
        }
    }

    .grid-item3 {
        &:hover {
            transform: scale(1.1, 1.1);
            transition: all 1.5s;
        }
    }

    .grid-item4 {
        &:hover {
            transform: scale(1.1, 1.1);
            transition: all 1.5s;
        }
    }

    .grid-item5 iframe {
        visibility: hidden;
    }
    
    .grid-item5:hover 
    .hidden-element {
        visibility: visible;
    }

    .grid-item6 {
        &:hover {
            transform: scale(1.1, 1.1);
            transition: all 1.5s;
        }
    }

    .grid-item7 {
        &:hover {
            transform: scale(1.1, 1.1);
            transition: all 1.5s;
        }
    }

    .grid-item8 {
        &:hover {
            transform: scale(1.1, 1.1);
            transition: all 1.5s;
        }
    }
    
    .grid-item9 img {
        visibility: hidden;
    }
    
    .grid-item9:hover 
    .hidden-element {
        visibility: visible;
    }

    .grid-item10 {
        &:hover {
            transform: scale(1.1, 1.1);
            transition: all 1.5s;
        }
    }
    
    .grid-item11 img {
        visibility: hidden;
    }
    
    .grid-item11:hover 
    .hidden-element {
        visibility: visible;
    }

    .grid-item12 {
        &:hover {
            transform: scale(1.1, 1.1);
            transition: all 1.5s;
        }
    }

    .grid-item13 {
        &:hover {
            transform: scale(1.1, 1.1);
            transition: all 1.5s;
        }
    }
}
