@import "body";
@import "header";
@import "footer";
@import "main";
@import "about";


@font-face {
    font-family: "IBMPlexMono-Regular";
    src: url("../fonts/IBMPlexMono-Regular.ttf");
}

@font-face {
    font-family: "DotGhotic16-Regular";
    src: url("../fonts/DotGothic16-Regular.ttf");
}

.container{
    display: flex;
    padding: 30px;
    gap: 1rem;
    
    .description { 
        font-size: 1rem;
        background-color: white;
        color: black;
        text-align: justify;
    }

    .box-1 {
        flex: 1;
        height: 500px;
        display: flex;
        padding: 30px;
        
    }    
    
    .box-2 {
        flex: 1;
        height: 500px;
        display: flex;
        padding: 30px;
        
    }
    
    .box-3 {
        flex: 1;
        height: 500px;
        display: flex;
        padding: 30px;
        
    }
    
    .box-4 {
        flex: 1;
        height: 500px;
        display: flex;
        padding: 30px;
        
    }
    
    .box-5 {
        flex: 1;
        height: 500px;
        display: flex;
        padding: 30px;
        
    }
} 




